$blue: #3190e8;  
$bc: #e4e4e4;
$fc:#fff;

// URL background image và kích thước
@mixin bis($url) { 
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}
// mixin:
// Phải viết lại thứ gì đó là một việc rất chán, đặc biệt là trong CSS3 rất nhiều tiền tố cho các trình duyệt. 
// Mixin cho phép gộp nhóm các khi báo trong CSS để sử dụng lại trên website. 
// Thậm chí có thể truyền giá trị vào mixin để tăng tính linh hoạt
@mixin allcover{
	position:absolute;
	top:0;
	right:0;
}

// Canh giữa vị trí theo chiều dọc và chiều ngang.
@mixin center {  
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Xác định vị trí trung tâm trên dưới.
@mixin ct {  
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
}

//Định vị các trung tâm trên và dưới.
@mixin cl {  
	position: absolute;
	left: 50%;
  transform: translateX(-50%);
}

//Chiều rộng và chiều cao
@mixin wh($width, $height){
	width: $width;
	height: $height;
}

//Cỡ chữ, chiều cao dòng, font.
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {  
	font: #{$size}/#{$line-height} $family;
}

//Cỡ chữ, màu sắc
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}

// Giao diện và các phần tử con của flex
@mixin fj($type: space-between){
	display: flex;
	justify-content: $type;

}
